@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
    font-family: 'Anonymous Pro', monospace;
}

#splash-screen {
    display: block;
    margin-top: 20%;
}

#home-screen {
    display: none;
}

.button:hover {
    cursor: pointer;
}

.card {
    margin-right: 1em;
}

.card-body {
    font-size: 1em;
}

#experience-card, #projects-card {
    display: none;
}

.img-thumbnail {
    margin-left: 3.5vw;
}

.list-group-flush {
    text-align: center;
    margin-top: 10vh;
}

.list-group-item {
    padding: 2em;
}

.list-group-item-dark {
    padding: 2em;
}

.active {
    font-weight: bold;
}